* {
  box-sizing: border-box;
}
.App {
  text-align: center;
  padding-top: 250px;
}

form {
  width: 30%;
  display: block;
  margin: 0 auto;
  border: 2px solid #eeeeee;
  border-radius: 5px;
  padding: 50px 0;
  
  
}
input {
  width: 70%;
  display: block;
  margin: 20px auto;
  padding: 10px 10px;
  border: 2px solid #eeeeee;
  border-radius: 5px;
}
button {
  background: #4caf50;
  padding: 10px;
  border: none;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}


